/*=====================
     Generals
=======================*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightslategray;
    font-family: 'mavenpro';
    font-size: 1rem;

}


@font-face {
    font-family: 'mavenpro';
    src: url("../fonts/mavenpro.ttf");
}


.container {
    margin-top: 250px;
    margin: 250px 20px 0px 20px;
}

/*=====================
    Header
=======================*/

h2,
.weather-icon {
    text-align: center;
    line-height: 2;
    margin-bottom: 15px;
}

p {
    font-weight: bold;
}

img {
    width: 40px;
    height: 40px;
}

.Megan,
.Sven {
    background-color: lightblue;
    text-align: center;
    margin-top: 3rem;
    border: solid;
    border-width: 5px;
    border-color: cadetblue;

}

.Sven {
    line-height: 2rem;

}

.changeTemp {
    margin-top: 10px;
}


/*=====================
    = Table Grid design =
=======================*/

#table {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
        "wind cloudiness pressure humidity sunrise sunset geo"
        "windapi cloudapi pressapi humiapi sunriapi sunseapi geoapi"
    ;
    text-align: center;
}

.apiwind {
    grid-area: windapi;
}

.cloudapi {
    grid-area: cloudapi;
}

.pressapi {
    grid-area: pressapi;
}

.humiapi {
    grid-area: humiapi;
}

.sunriapi {
    grid-area: sunriapi;
}

.sunseapi {
    grid-area: sunseapi;
}

.geoapi {
    grid-area: geoapi;
}


/*=====================
    =    Search Bar     =
=======================*/


.searchBar {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}